/*.tracks, .tracks.columns {
    $tracks-width: 100%;
    $track-width: percentage(($tracks-width / 12) / $tracks-width);
    $all-tracks-spans: [];

    @mixin track-span($span) {
        width: $track-width * $span;
        @debug append($all-tracks-spans, $span);
    }
    
    position: relative;
    background-color: rgba(0, 0, 0, 0.308);
    width: $tracks-width;
    overflow: hidden;

    .track {
        position: relative;
        @include track-span(1);
        height: 100%;
        float: left;
        border: 1px solid black;
    }

    @for $i from 1 through 12 {
        .track.span-#{$i} {
            @include track-span($i);
        }
    }
}
*/