.columns {
  position: relative;
  width: 100%;
  display: flex;
}
.columns * {
  flex: 1;
}
.columns.has-gutters > * {
  margin-left: 10px;
}
.columns.has-gutters > *:first-child {
  margin: 0;
}
.columns .is-1 {
  flex: 0 0 1%;
}
.columns .is-2 {
  flex: 0 0 2%;
}
.columns .is-3 {
  flex: 0 0 3%;
}
.columns .is-4 {
  flex: 0 0 4%;
}
.columns .is-5 {
  flex: 0 0 5%;
}
.columns .is-6 {
  flex: 0 0 6%;
}
.columns .is-7 {
  flex: 0 0 7%;
}
.columns .is-8 {
  flex: 0 0 8%;
}
.columns .is-9 {
  flex: 0 0 9%;
}
.columns .is-10 {
  flex: 0 0 10%;
}
.columns .is-11 {
  flex: 0 0 11%;
}
.columns .is-12 {
  flex: 0 0 12%;
}
.columns .is-13 {
  flex: 0 0 13%;
}
.columns .is-14 {
  flex: 0 0 14%;
}
.columns .is-15 {
  flex: 0 0 15%;
}
.columns .is-16 {
  flex: 0 0 16%;
}
.columns .is-17 {
  flex: 0 0 17%;
}
.columns .is-18 {
  flex: 0 0 18%;
}
.columns .is-19 {
  flex: 0 0 19%;
}
.columns .is-20 {
  flex: 0 0 20%;
}
.columns .is-21 {
  flex: 0 0 21%;
}
.columns .is-22 {
  flex: 0 0 22%;
}
.columns .is-23 {
  flex: 0 0 23%;
}
.columns .is-24 {
  flex: 0 0 24%;
}
.columns .is-25 {
  flex: 0 0 25%;
}
.columns .is-26 {
  flex: 0 0 26%;
}
.columns .is-27 {
  flex: 0 0 27%;
}
.columns .is-28 {
  flex: 0 0 28%;
}
.columns .is-29 {
  flex: 0 0 29%;
}
.columns .is-30 {
  flex: 0 0 30%;
}
.columns .is-31 {
  flex: 0 0 31%;
}
.columns .is-32 {
  flex: 0 0 32%;
}
.columns .is-33 {
  flex: 0 0 33%;
}
.columns .is-34 {
  flex: 0 0 34%;
}
.columns .is-35 {
  flex: 0 0 35%;
}
.columns .is-36 {
  flex: 0 0 36%;
}
.columns .is-37 {
  flex: 0 0 37%;
}
.columns .is-38 {
  flex: 0 0 38%;
}
.columns .is-39 {
  flex: 0 0 39%;
}
.columns .is-40 {
  flex: 0 0 40%;
}
.columns .is-41 {
  flex: 0 0 41%;
}
.columns .is-42 {
  flex: 0 0 42%;
}
.columns .is-43 {
  flex: 0 0 43%;
}
.columns .is-44 {
  flex: 0 0 44%;
}
.columns .is-45 {
  flex: 0 0 45%;
}
.columns .is-46 {
  flex: 0 0 46%;
}
.columns .is-47 {
  flex: 0 0 47%;
}
.columns .is-48 {
  flex: 0 0 48%;
}
.columns .is-49 {
  flex: 0 0 49%;
}
.columns .is-50 {
  flex: 0 0 50%;
}
.columns .is-51 {
  flex: 0 0 51%;
}
.columns .is-52 {
  flex: 0 0 52%;
}
.columns .is-53 {
  flex: 0 0 53%;
}
.columns .is-54 {
  flex: 0 0 54%;
}
.columns .is-55 {
  flex: 0 0 55%;
}
.columns .is-56 {
  flex: 0 0 56%;
}
.columns .is-57 {
  flex: 0 0 57%;
}
.columns .is-58 {
  flex: 0 0 58%;
}
.columns .is-59 {
  flex: 0 0 59%;
}
.columns .is-60 {
  flex: 0 0 60%;
}
.columns .is-61 {
  flex: 0 0 61%;
}
.columns .is-62 {
  flex: 0 0 62%;
}
.columns .is-63 {
  flex: 0 0 63%;
}
.columns .is-64 {
  flex: 0 0 64%;
}
.columns .is-65 {
  flex: 0 0 65%;
}
.columns .is-66 {
  flex: 0 0 66%;
}
.columns .is-67 {
  flex: 0 0 67%;
}
.columns .is-68 {
  flex: 0 0 68%;
}
.columns .is-69 {
  flex: 0 0 69%;
}
.columns .is-70 {
  flex: 0 0 70%;
}
.columns .is-71 {
  flex: 0 0 71%;
}
.columns .is-72 {
  flex: 0 0 72%;
}
.columns .is-73 {
  flex: 0 0 73%;
}
.columns .is-74 {
  flex: 0 0 74%;
}
.columns .is-75 {
  flex: 0 0 75%;
}
.columns .is-76 {
  flex: 0 0 76%;
}
.columns .is-77 {
  flex: 0 0 77%;
}
.columns .is-78 {
  flex: 0 0 78%;
}
.columns .is-79 {
  flex: 0 0 79%;
}
.columns .is-80 {
  flex: 0 0 80%;
}
.columns .is-81 {
  flex: 0 0 81%;
}
.columns .is-82 {
  flex: 0 0 82%;
}
.columns .is-83 {
  flex: 0 0 83%;
}
.columns .is-84 {
  flex: 0 0 84%;
}
.columns .is-85 {
  flex: 0 0 85%;
}
.columns .is-86 {
  flex: 0 0 86%;
}
.columns .is-87 {
  flex: 0 0 87%;
}
.columns .is-88 {
  flex: 0 0 88%;
}
.columns .is-89 {
  flex: 0 0 89%;
}
.columns .is-90 {
  flex: 0 0 90%;
}
.columns .is-91 {
  flex: 0 0 91%;
}
.columns .is-92 {
  flex: 0 0 92%;
}
.columns .is-93 {
  flex: 0 0 93%;
}
.columns .is-94 {
  flex: 0 0 94%;
}
.columns .is-95 {
  flex: 0 0 95%;
}
.columns .is-96 {
  flex: 0 0 96%;
}
.columns .is-97 {
  flex: 0 0 97%;
}
.columns .is-98 {
  flex: 0 0 98%;
}
.columns .is-99 {
  flex: 0 0 99%;
}
.columns .is-100 {
  flex: 0 0 100%;
}

.rows {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.rows * {
  flex: 1;
}
.rows.has-gutters > * {
  margin-top: 10px;
}
.rows.has-gutters > *:first-child {
  margin: 0;
}

.has-columns-centered {
  justify-content: center;
}

.has-columns-left {
  justify-content: flex-start;
}

.has-columns-right {
  justify-content: flex-end;
}

.has-columns-spaced-between {
  justify-content: space-between;
}

.has-columns-spaced-around {
  justify-content: space-around;
}

.has-columns-spaced-evenly {
  justify-content: space-evenly;
}

.columns > *, .rows > * {
  border: 1px solid black;
}

.container-xs {
  width: 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.container-s {
  width: 60%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.container-m, .container {
  width: 70%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.container-l {
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.container-xl {
  width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.is-static {
  position: static;
}

.is-relative {
  position: relative;
}

.is-absolute {
  position: absolute;
}

.is-fixed {
  position: fixed;
}

.is-top-left {
  top: 0;
  left: 0;
}

.is-top-middle {
  top: 0;
  left: 50%;
  right: 50%;
}

.is-top-right {
  top: 0;
  right: 0;
}

.is-bottom-left {
  bottom: 0;
  left: 0;
}

.is-bottom-middle {
  bottom: 0;
  left: 50%;
  right: 50%;
}

.is-bottom-right {
  bottom: 0;
  right: 0;
}

.is-center-left {
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
}

.is-center-middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.is-center-right {
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
}

* {
  font-family: Lato, sans-serif;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
.is-title-1 {
  font-size: 20px;
  font-weight: bold;
}

.is-title-2 {
  font-size: 30px;
  font-weight: bold;
}

.is-title-3 {
  font-size: 40px;
  font-weight: bold;
}

.is-title-4 {
  font-size: 50px;
  font-weight: bold;
}

.is-title-5 {
  font-size: 60px;
  font-weight: bold;
}

.is-title-6 {
  font-size: 70px;
  font-weight: bold;
}

.has-text-left {
  text-align: left;
}

.has-text-center {
  text-align: center;
}

.has-text-right {
  text-align: right;
}

.has-text-thinner {
  font-weight: 100;
}

.has-text-thin {
  font-weight: 300;
}

.has-text-regular {
  font-weight: 400;
}

.has-text-bold {
  font-weight: 700;
}

.is-fs-1 {
  font-size: 12px;
}

.is-fs-2 {
  font-size: 15px;
}

.is-fs-3 {
  font-size: 18px;
}

.is-fs-4 {
  font-size: 25px;
}

.is-fs-5 {
  font-size: 30px;
}

.is-fs-6 {
  font-size: 35px;
}

.has-text-lighter {
  color: #c9c9c9;
}

.has-text-light {
  color: #adadad;
}

.has-text-neutral {
  color: #838383;
}

.has-text-dark {
  color: #474747;
}

.has-text-darker {
  color: #252525;
}

.has-text-danger {
  color: #f14d4d;
}

.has-text-success {
  color: #5cf370;
}

.has-text-warning {
  color: #f6f861;
}

.has-text-primary {
  color: #4c7de6;
}

.has-text-italic {
  font-style: italic;
}

.has-text-underlined {
  text-decoration: underline;
}

.has-border-lighter {
  border: 1px solid #c9c9c9;
}

.has-border-top-lighter {
  border-top: 1px solid #c9c9c9;
}

.has-border-right-lighter {
  border-right: 1px solid #c9c9c9;
}

.has-border-bottom-lighter {
  border-bottom: 1px solid #c9c9c9;
}

.has-border-left-lighter {
  border-left: 1px solid #c9c9c9;
}

.has-border-light {
  border: 1px solid #adadad;
}

.has-border-top-light {
  border-top: 1px solid #adadad;
}

.has-border-right-light {
  border-right: 1px solid #adadad;
}

.has-border-bottom-light {
  border-bottom: 1px solid #adadad;
}

.has-border-left-light {
  border-left: 1px solid #adadad;
}

.has-border-neutral {
  border: 1px solid #838383;
}

.has-border-top-neutral {
  border-top: 1px solid #838383;
}

.has-border-right-neutral {
  border-right: 1px solid #838383;
}

.has-border-bottom-neutral {
  border-bottom: 1px solid #838383;
}

.has-border-left-neutral {
  border-left: 1px solid #838383;
}

.has-border-dark {
  border: 1px solid #474747;
}

.has-border-top-dark {
  border-top: 1px solid #474747;
}

.has-border-right-dark {
  border-right: 1px solid #474747;
}

.has-border-bottom-dark {
  border-bottom: 1px solid #474747;
}

.has-border-left-dark {
  border-left: 1px solid #474747;
}

.has-border-darker {
  border: 1px solid #252525;
}

.has-border-top-darker {
  border-top: 1px solid #252525;
}

.has-border-right-darker {
  border-right: 1px solid #252525;
}

.has-border-bottom-darker {
  border-bottom: 1px solid #252525;
}

.has-border-left-darker {
  border-left: 1px solid #252525;
}

.has-border-danger {
  border: 1px solid #f14d4d;
}

.has-border-top-danger {
  border-top: 1px solid #f14d4d;
}

.has-border-right-danger {
  border-right: 1px solid #f14d4d;
}

.has-border-bottom-danger {
  border-bottom: 1px solid #f14d4d;
}

.has-border-left-danger {
  border-left: 1px solid #f14d4d;
}

.has-border-success {
  border: 1px solid #5cf370;
}

.has-border-top-success {
  border-top: 1px solid #5cf370;
}

.has-border-right-success {
  border-right: 1px solid #5cf370;
}

.has-border-bottom-success {
  border-bottom: 1px solid #5cf370;
}

.has-border-left-success {
  border-left: 1px solid #5cf370;
}

.has-border-warning {
  border: 1px solid #f6f861;
}

.has-border-top-warning {
  border-top: 1px solid #f6f861;
}

.has-border-right-warning {
  border-right: 1px solid #f6f861;
}

.has-border-bottom-warning {
  border-bottom: 1px solid #f6f861;
}

.has-border-left-warning {
  border-left: 1px solid #f6f861;
}

.has-border-primary {
  border: 1px solid #4c7de6;
}

.has-border-top-primary {
  border-top: 1px solid #4c7de6;
}

.has-border-right-primary {
  border-right: 1px solid #4c7de6;
}

.has-border-bottom-primary {
  border-bottom: 1px solid #4c7de6;
}

.has-border-left-primary {
  border-left: 1px solid #4c7de6;
}

.has-rounded-corners {
  border-radius: 4px;
}

.is-circle {
  border-radius: 50%;
}

.is-hidden {
  visibility: hidden;
}

.is-visible {
  visibility: visible;
}

.has-background-lighter {
  background-color: #c9c9c9;
}

.has-background-light {
  background-color: #adadad;
}

.has-background-neutral {
  background-color: #838383;
}

.has-background-dark {
  background-color: #474747;
}

.has-background-darker {
  background-color: #252525;
}

.has-background-danger {
  background-color: #f14d4d;
}

.has-background-success {
  background-color: #5cf370;
}

.has-background-warning {
  background-color: #f6f861;
}

.has-background-primary {
  background-color: #4c7de6;
}

/*# sourceMappingURL=main.css.map */
