.columns {
  position: relative;
  width: 100%;
  display: flex;
}
.columns * {
  flex: 1;
}
.columns.has-gutters > * {
  margin-left: 10px;
}
.columns.has-gutters > *:first-child {
  margin: 0;
}
.columns .is-1 {
  flex: 0 0 1%;
}
.columns .is-2 {
  flex: 0 0 2%;
}
.columns .is-3 {
  flex: 0 0 3%;
}
.columns .is-4 {
  flex: 0 0 4%;
}
.columns .is-5 {
  flex: 0 0 5%;
}
.columns .is-6 {
  flex: 0 0 6%;
}
.columns .is-7 {
  flex: 0 0 7%;
}
.columns .is-8 {
  flex: 0 0 8%;
}
.columns .is-9 {
  flex: 0 0 9%;
}
.columns .is-10 {
  flex: 0 0 10%;
}
.columns .is-11 {
  flex: 0 0 11%;
}
.columns .is-12 {
  flex: 0 0 12%;
}
.columns .is-13 {
  flex: 0 0 13%;
}
.columns .is-14 {
  flex: 0 0 14%;
}
.columns .is-15 {
  flex: 0 0 15%;
}
.columns .is-16 {
  flex: 0 0 16%;
}
.columns .is-17 {
  flex: 0 0 17%;
}
.columns .is-18 {
  flex: 0 0 18%;
}
.columns .is-19 {
  flex: 0 0 19%;
}
.columns .is-20 {
  flex: 0 0 20%;
}
.columns .is-21 {
  flex: 0 0 21%;
}
.columns .is-22 {
  flex: 0 0 22%;
}
.columns .is-23 {
  flex: 0 0 23%;
}
.columns .is-24 {
  flex: 0 0 24%;
}
.columns .is-25 {
  flex: 0 0 25%;
}
.columns .is-26 {
  flex: 0 0 26%;
}
.columns .is-27 {
  flex: 0 0 27%;
}
.columns .is-28 {
  flex: 0 0 28%;
}
.columns .is-29 {
  flex: 0 0 29%;
}
.columns .is-30 {
  flex: 0 0 30%;
}
.columns .is-31 {
  flex: 0 0 31%;
}
.columns .is-32 {
  flex: 0 0 32%;
}
.columns .is-33 {
  flex: 0 0 33%;
}
.columns .is-34 {
  flex: 0 0 34%;
}
.columns .is-35 {
  flex: 0 0 35%;
}
.columns .is-36 {
  flex: 0 0 36%;
}
.columns .is-37 {
  flex: 0 0 37%;
}
.columns .is-38 {
  flex: 0 0 38%;
}
.columns .is-39 {
  flex: 0 0 39%;
}
.columns .is-40 {
  flex: 0 0 40%;
}
.columns .is-41 {
  flex: 0 0 41%;
}
.columns .is-42 {
  flex: 0 0 42%;
}
.columns .is-43 {
  flex: 0 0 43%;
}
.columns .is-44 {
  flex: 0 0 44%;
}
.columns .is-45 {
  flex: 0 0 45%;
}
.columns .is-46 {
  flex: 0 0 46%;
}
.columns .is-47 {
  flex: 0 0 47%;
}
.columns .is-48 {
  flex: 0 0 48%;
}
.columns .is-49 {
  flex: 0 0 49%;
}
.columns .is-50 {
  flex: 0 0 50%;
}
.columns .is-51 {
  flex: 0 0 51%;
}
.columns .is-52 {
  flex: 0 0 52%;
}
.columns .is-53 {
  flex: 0 0 53%;
}
.columns .is-54 {
  flex: 0 0 54%;
}
.columns .is-55 {
  flex: 0 0 55%;
}
.columns .is-56 {
  flex: 0 0 56%;
}
.columns .is-57 {
  flex: 0 0 57%;
}
.columns .is-58 {
  flex: 0 0 58%;
}
.columns .is-59 {
  flex: 0 0 59%;
}
.columns .is-60 {
  flex: 0 0 60%;
}
.columns .is-61 {
  flex: 0 0 61%;
}
.columns .is-62 {
  flex: 0 0 62%;
}
.columns .is-63 {
  flex: 0 0 63%;
}
.columns .is-64 {
  flex: 0 0 64%;
}
.columns .is-65 {
  flex: 0 0 65%;
}
.columns .is-66 {
  flex: 0 0 66%;
}
.columns .is-67 {
  flex: 0 0 67%;
}
.columns .is-68 {
  flex: 0 0 68%;
}
.columns .is-69 {
  flex: 0 0 69%;
}
.columns .is-70 {
  flex: 0 0 70%;
}
.columns .is-71 {
  flex: 0 0 71%;
}
.columns .is-72 {
  flex: 0 0 72%;
}
.columns .is-73 {
  flex: 0 0 73%;
}
.columns .is-74 {
  flex: 0 0 74%;
}
.columns .is-75 {
  flex: 0 0 75%;
}
.columns .is-76 {
  flex: 0 0 76%;
}
.columns .is-77 {
  flex: 0 0 77%;
}
.columns .is-78 {
  flex: 0 0 78%;
}
.columns .is-79 {
  flex: 0 0 79%;
}
.columns .is-80 {
  flex: 0 0 80%;
}
.columns .is-81 {
  flex: 0 0 81%;
}
.columns .is-82 {
  flex: 0 0 82%;
}
.columns .is-83 {
  flex: 0 0 83%;
}
.columns .is-84 {
  flex: 0 0 84%;
}
.columns .is-85 {
  flex: 0 0 85%;
}
.columns .is-86 {
  flex: 0 0 86%;
}
.columns .is-87 {
  flex: 0 0 87%;
}
.columns .is-88 {
  flex: 0 0 88%;
}
.columns .is-89 {
  flex: 0 0 89%;
}
.columns .is-90 {
  flex: 0 0 90%;
}
.columns .is-91 {
  flex: 0 0 91%;
}
.columns .is-92 {
  flex: 0 0 92%;
}
.columns .is-93 {
  flex: 0 0 93%;
}
.columns .is-94 {
  flex: 0 0 94%;
}
.columns .is-95 {
  flex: 0 0 95%;
}
.columns .is-96 {
  flex: 0 0 96%;
}
.columns .is-97 {
  flex: 0 0 97%;
}
.columns .is-98 {
  flex: 0 0 98%;
}
.columns .is-99 {
  flex: 0 0 99%;
}
.columns .is-100 {
  flex: 0 0 100%;
}

.rows {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.rows * {
  flex: 1;
}
.rows.has-gutters > * {
  margin-top: 10px;
}
.rows.has-gutters > *:first-child {
  margin: 0;
}

.has-columns-centered {
  justify-content: center;
}

.has-columns-left {
  justify-content: flex-start;
}

.has-columns-right {
  justify-content: flex-end;
}

.has-columns-spaced-between {
  justify-content: space-between;
}

.has-columns-spaced-around {
  justify-content: space-around;
}

.has-columns-spaced-evenly {
  justify-content: space-evenly;
}

.columns > *, .rows > * {
  border: 1px solid black;
}

/*# sourceMappingURL=main.css.map */
